@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
html{
	scroll-behavior: smooth;
	font-family:
	/* 'Impact', */
	YuGothic,
	'Yu Gothic',
	'ヒラギノ角ゴシック',
	'Hiragino Sans',
	'ヒラギノ丸ゴ ProN',
	'Hiragino Maru Gothic ProN',
	sans-serif;
}
body{position: relative;}
a{text-decoration: none;word-break: break-all;}
a:hover{
	/* text-decoration: underline; */
	opacity:.7;
}
li{list-style-type: none;}
label{cursor: pointer;}
.flex{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
details{
	transition:.3s;
}
summary {
	cursor: pointer;
  }
  .pc-display{
	  display:none;
  }
  .sp-display{
	  display:block;
  }
  @media (min-width:768px){	  
	.pc-display{
		display:block;
	}
	.sp-display{
		display:none;
	}
  }
/*-----------title-----------*/
h2.title1{
	color:#222;
	text-align: center;
	padding:6px 0;
	margin:10px auto 0;
	font-size:30px;
}
h2.title1 span{
	border-bottom:5px solid #f99;
}
.subtitle1{
	text-align: center;
    font-weight: bold;
}
/*-----------nav-----------*/
.navi{
	width:100%;
	font-size:15px;
	display: flex;
	flex-wrap: wrap;
	margin:0 auto 8px;
	padding-bottom:4px;
	position: sticky;
	top:0;
	z-index:100;
	background-color: #fff;
	filter: drop-shadow(0 1px 2px #0005);
}
.logo{
	margin:4px 10px;
}
.logo a{
	color:#333;
	display: flex;
	align-items: center;
	letter-spacing: -1px;
	font-size:15px;
	line-height: 1.3em;
}
.logo img{
	width:40px;
}
.nav-wrapper{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.g-nav{
	display: flex;
}
.g-nav li a{
	color:#333;
	font-weight:bold;
	margin-right:15px;
}
@media (min-width:768px){
	.nav{
		width:100%;
		flex-direction:row;
		display: block;
	}
}
/*-----------header-----------*/
.header{
	width:100%;
	height:700px;
	margin:0 auto;
	overflow: hidden;
	position: relative;
	border-radius:20px;
	filter: drop-shadow(0 1px 2px #0006);
}
.header-left{
	color:#222;
	font-weight:bold;
	position: absolute;
	z-index:99;
	left:0;
	bottom: 0;
	width:100%;
	background-color:#f5f0f0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
}
.header-left svg{
	width:50px;
	margin-bottom:8px;
}
.header-left h1{
	line-height: 1.3em;
	word-break: keep-all;
	margin-bottom:10px;
}
.header-left ul{
	display: flex;
	justify-content: space-between;
	margin-bottom:20px;
}
.header-left .icon-list a{
	color:#333;
}
.header-img{
	position: relative;
	z-index: 1;
}
.header-img img{
	width: 100%;
	height: 700px;
	overflow: hidden;
	object-fit: cover;
	object-position:62% 50%;
}
.copy{
	color:#111;
	font-size:30px;
	position: absolute;
	top:30%;
	left:10px;
	z-index:1;
	font-weight:bold;
}
@media (min-width:768px){
	.header{
		width:98%;
	}
	.header-left{
		width:35%;
		height:100%;
	}
	.header-left svg{
		width:100px;
	}
	.header-left h1{
		font-size:30px;
	}
	.copy{
		font-size:40px;
		top:74%;
		left:60px;
	}
}

/*-----------side-----------*/
.side-wrapper{
	width:18%;
	min-width:180px;
	margin-top:20px;
	background-color:#fff;
}
.side-inner{
	margin-left:8px;
	margin-bottom:12px;
	border-top:6px solid #f5f5f5;
}
.side-inner li{
	margin-bottom:6px;
}
.side-inner li a{
	display:block;
	color:#444;
	font-size:15px;
}
.side-inner li:first-child a{
	color:#333;
	font-size:17px;
	font-weight:bold;
	border-bottom:1px solid #aaa;
}


.information{
	color:#222;
	font-weight:bold;
	width:90%;
	margin:auto;

}
.info-wrapper{
	max-height:120px;
	overflow-y: auto;
	border-top:2px solid #fff6;
}
.information li{
	margin:2px 8px;
	padding:2px;
	border-bottom:1px solid #0008;
	font-size:14px;
}
.info-date{
	font-size:14px;
	margin:4px 0;
}
.info-title{
	font-weight:normal;
	margin:4px 0;
}
@media (min-width:768px){
	.information{
	}
}
/*--------------------------*/

.container{
	width:100%;
	max-width:1600px;
	margin:auto;
	display:flex;
}
section{
	margin:20px 0;
	padding:20px 0;
	background:#f5f5f5;
}
.section-row{
	width:96%;
	margin:20px auto;
	display:flex;
	flex-wrap:wrap;
}
.section-inner{
	max-width:100%;
	min-width:200px;
	padding:10px 20px;
	margin:0 auto 10px;
}
.section-inner p{
	line-height: 1.5em;
}
.section-inner img{
	width:100%;
	margin-bottom:16px;
}
@media (min-width:768px){
	.section-row{
		flex-wrap:nowrap;
	}
	.section-inner{
		width:initial;
	}
}
/*----------------------*/
  .message-inner{
	  width:90%;
	  margin:0 auto;
	  display: flex;
	  justify-content: flex-end;
	  position: relative;
  }
  .message-inner p{
	  width:94%;
	  margin:20px auto;
	  font-size:18px;
	  font-weight:bold;
	  color:#444;
	  text-align: left;
	  line-height:1.6em;
  }
  .svg-atoz{
	position: absolute;
	width:100%;
	max-width:400px;
	height:auto;
	z-index:0;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity: .3;
  }
  
  @media (min-width:767px){
	.message-inner{
		width:85%;
	}
	.message-inner p{
		width:55%;
		margin:20px 0;
		padding:20px 0;
		font-size:18px;
		text-align: center;
	}
	.svg-atoz{
	  left:1%;
	  transform: translate(0,-50%);
	}
}
/*-----------footer------------*/
.footer{
	width:96%;
	font-size:15px;
	display: flex;
	flex-wrap: wrap;
	margin:0 auto 5px;
	position: sticky;
}
.foot-wrapper{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap:wrap;
}
.foot-wrapper .logo{
	width:100%;
	margin:10px 0;
}
.foot-nav{
	width:100%;
	display: flex;
	margin:10px 0;
}
.foot-nav li a{
	color:#333;
	font-weight:bold;
	margin-right:15px;
}
.copyright{
	margin:10px 0 20px;
}
@media (min-width:768px){
	.nav{
		width:100%;
		flex-direction:row;
		display: block;
	}
}
/*-------------------------*/
.header-overview .header-left{
	background-color: #1ca59e;
}
.header-overview img{
	object-position: 50% 50%;
}