@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
html{
	scroll-behavior: smooth;
	font-family:
	/* 'Impact', */
	YuGothic,
	'Yu Gothic',
	'ヒラギノ角ゴシック',
	'Hiragino Sans',
	'ヒラギノ丸ゴ ProN',
	'Hiragino Maru Gothic ProN',
	sans-serif;
}
body{position: relative;}
a{text-decoration: none;word-break: break-all;}
/* a:hover{text-decoration: underline;} */
li{list-style-type: none;}
label{cursor: pointer;}
.flex{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
details{
	transition:.3s;
}
summary {
	cursor: pointer;
  }
  .pc-display{
	  display:none;
  }
  .sp-display{
	  display:block;
  }
  @media (min-width:768px){	  
	.pc-display{
		display:block;
	}
	.sp-display{
		display:none;
	}
  }
/*-----------title-----------*/
.title1{
	text-align: center;
	padding:6px 0;
	margin:10px auto 0;
	font-size:34px;
}
.title1 span{
	border-bottom:5px solid #EDCD26;
}
.subtitle1{
	text-align: center;
    font-weight: bold;
}
/*-----------nav-----------*/
.navi{
	width:96%;
	font-size:15px;
	display: flex;
	flex-wrap: wrap;
	margin:0 auto 5px;
	position: sticky;
}
.navi .logo a{
	color:#333;
	font-weight:bold;
	letter-spacing: -2px;
	font-size:34px;
}
.navi .logo img{
	width:40px;
}
.nav-wrapper{
	width:100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.g-nav{
	display: flex;
}
.g-nav li a{
	color:#333;
	font-weight:bold;
	margin-right:15px;
}
@media (min-width:768px){
	.nav{
		width:100%;
		flex-direction:row;
		display: block;
	}
}
/*-----------header-----------*/
.header{
	width:100%;
	overflow: hidden;
	position: relative;
}
.header-img{
	border-left:40px solid #fff;
	margin-bottom: 20px;
}
.header-img img{
	width: 100%;
	height: 800px;
	object-fit: cover;
}
.header h1{
	color:#111;
	font-size:40px;
	position: absolute;
	top:20px;
	left:0;
	z-index:1;
}
.header h1 span{
	display: block;
}
.header h1:before{
	content:'';
	display: inline-block;
	position: absolute;
	z-index:-1;
	width:88%;
	height: 88%;
	margin:6%;
	/* background-color: #F66B63; */
	background-image:
	 linear-gradient(#fff 50%, transparent 50%);
	background-size: 16px 16px;
	transform:skewX(18deg);
}
@media (min-width:768px){
	.header h1{
		font-size:110px;
		top:30%;
	}
}
.information{
	color:#fff;
	font-weight:bold;
	position: absolute;
	right: 5%;
	bottom: 5%;
	padding:10px;
	width:360px;
}
.information h2{
	width:calc(100% - 20px);
	color:#fff;
	font-size:32px;
	letter-spacing: 2px;
	text-align:center;
	position: absolute;
	top:0;
	border-bottom:4px solid #fff;
}
.info-line{
	background:#3331;
	border:4px dotted #fff;
	margin-top:22px;
	padding:14px 0;
}
.info-wrapper{
	overflow-y: auto;
	height:200px;
}
.info-line li{
	margin:10px 12px;
	padding:5px 0;
	border-bottom:1px solid #fff8;
}
.info-date{
	font-size:14px;
	margin:4px 0;
}
.info-title{
	font-weight:normal;
	margin:4px 0;
}
.btn01{
	display:flex;
	justify-content: center;
}
.btn01 a{
	display: block;
	color:#fff;
	padding:8px 18px;
	border:2px solid #fff;
	position: relative;
	z-index:1;
	background-color: #3336;
}
.btn01 a:before{
	content:'';
	display: inline-block;
	position: absolute;
	z-index:-1;
	width:100%;
	height: 100%;
}
.copy{
	color:#111;
	font-size:40px;
	position: absolute;
	top:74%;
	left:60px;
	z-index:1;
	font-weight:bold;
}
/*--------------------------*/

.container{
	width:100%;
	max-width:1600px;
	margin:auto;
}
section{
	margin:20px 0;
	padding:20px 0;
	background:#f5f5f5;
}
/*-----------SNS-----------*/
.sns{
	display: flex;
	width:96%;
	background-color:#fff;
	margin:10px auto;
}
.sns i{
	font-size:50px;
	margin:5px;
}
/*-----------grid-----------*/
.grid{
	display:grid;
	grid-template-areas:
	'pickup'
	'search';
	/* grid-template-columns:28px 1fr; */
	/* gap: 4px 0px; */
	position: relative;
    z-index: 1;
}
@media (min-width:768px){
	.grid{
		grid-template-areas:
		'search pickup';
		grid-template-columns:49% 49%;
		gap: 0 2%;
	}
}
.search-genre{
	grid-area:search;
}
.pickup{
	grid-area:pickup;
} 
/*-----------filter-menu-----------*/
.filter{
	margin:10px 0;
	padding:10px; 
	position: relative;
	z-index: 1;
	border:2px solid #193064;
}
.filter h5{
	padding:2px 0 8px;
}
.filter input{
	display:none;
}
.filter-year{
	display: flex;
}
.filter-year label{
	color:#fff;
	background:#193064;
	font-size:15px;
	display: block;
	margin:8px;
	padding:4px;
}
.filter-year label.active{
	background-color:#df3737;
}
.filter-month{
	display: flex;
}
.filter-month label{
	font-size:15px;
	margin:3px;
	padding:4px;
}
.filter-month .active{
	color:#df3737;
	font-weight:bold;
}
.btn-clear{
	text-align: right;
}
/*-----------layout------------*/
.box-wrapper{
	width:90%;
	margin:0 auto;
	display: flex;
	justify-content:space-around;
}
.box{
	width:25%;
}
.box img{
	display: block;
	margin:auto;
}
.box h5{
	display: block;
	width:100%;
	text-align: center;
	margin:15px 0;
	font-size:18px;
}
.box p{
	display: block;
	width:100%;
	text-align: center;
	font-size:14px;
	line-height:1.6em;;
}

/*-----------card------------*/
.hooper{
	height:auto;
}
.hooper-list {
	background-color:#ddd;
}
.hooper-slide{
	padding:15px;
}
  .data-wrapper {
	background: #fff;
	display: grid;
	grid-template-areas:
		'img'
		'date'
		'title'
		'body'
		;
	gap: 15px 0;
	border-bottom: 1px solid #0004;
	filter: drop-shadow(0 1px 3px #0004);
	position: relative;
	font-weight: bold;
	color: #333;
	transition:.2s;
	padding-bottom:15px;
  }
  .data-wrapper:hover{
	  filter:none;
  }
  @media (min-width: 768px) {
	.data-wrapper {
	  grid-template-areas:
	  'img'
	  'date'
	  'title'
	  'body'
		;
	  gap: 15px 0;
	  /* grid-template-rows:50px 50px 60px 1fr; */
	}
  }
  div[class^='g-'] {
	width: 94%;
	margin:auto;
  }
  div.g-img {
	  width:100%;
	  margin:0;
	  grid-area: img;
  }
  .g-img img{
	  width:100%;
	  height:auto;
  }
  .g-date {
	  grid-area: date;
	  font-size:15px;
  }
  .g-title {
	  grid-area: title;
	  font-size:22px;
	  border-bottom:2px dotted #ddd;
	  margin:0 10px;
	  padding:6px 0;
  }
  .g-body {
	  grid-area: body;
	  font-size:15px;
	  font-weight:normal;
	  color:#666;
  }
/*----------------------*/
  .message-inner{
	  width:90%;
	  margin:0 auto;
	  display: flex;
	  justify-content: flex-end;
	  position: relative;
  }
  .message-inner p{
	  width:94%;
	  margin:20px auto;
	  font-size:18px;
	  font-weight:bold;
	  color:#444;
	  text-align: left;
	  line-height:1.6em;
  }
  .svg-atoz{
	position: absolute;
	width:100%;
	max-width:400px;
	height:auto;
	z-index:0;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	opacity: .3;
  }
  
  @media (min-width:767px){
	.message-inner{
		width:85%;
	}
	.message-inner p{
		width:55%;
		margin:20px 0;
		padding:20px 0;
		font-size:18px;
		text-align: center;
	}
	.svg-atoz{
	  left:1%;
	  transform: translate(0,-50%);
	}
}