.moving-icon svg {
    text-align: center;
    margin: auto;
    width: 100px;
    height: 50px;
  }

  #icon-mouse-scroll .scroll {
    -webkit-animation: scrolling 1s alternate infinite ease-in-out;
    animation: scrolling 1s alternate infinite ease-in-out;
  }

  @-webkit-keyframes scrolling {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }

    100% {
      -webkit-transform: translate(0px, 80px);
      transform: translate(0px, 80px);
    }
  }

  @keyframes scrolling {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }

    100% {
      -webkit-transform: translate(0px, 80px);
      transform: translate(0px, 80px);
    }
  }
  .moving-icon{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 40px;
    justify-content: center;
  }
  .moving-icon p{
    color:#333;
    font-weight:bold;
  }


/*-----------------------------*/

.svg-atoz path {
    fill: none;
    stroke: #333; /*線の色を指定する*/
    stroke-dasharray: 2000;/*線の間隔を指定する*/
    stroke-dashoffset: 0;/*線の位置を指定する(IEは効かない属性)*/
    stroke-width: 2;/*線の太さを指定する*/
    -webkit-animation: hello 5s ease-in alternate infinite;
    animation: hello 5s ease-in alternate infinite;
}
 @-webkit-keyframes hello {
 0% {
 stroke-dashoffset: 2000;
 fill:transparent; /*透過*/
}
 30% {
 fill:transparent; /*透過*/
}
60% {
stroke-dashoffset: 0;
fill:#333;
}
100% {
stroke-dashoffset: 0;
fill:#333;
}
}
@keyframes hello {
  0% {
  stroke-dashoffset: 2000;
  fill:transparent; /*透過*/
 }
  30% {
  fill:transparent; /*透過*/
 }
 60% {
 stroke-dashoffset: 0;
 fill:#333;
 }
 100% {
 stroke-dashoffset: 0;
 fill:#333;
 }
}
.cls-1{fill:#fff;stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;}