.moving-icon svg {
    text-align: center;
    margin: auto;
    width: 100px;
    height: 50px;
  }

  #icon-mouse-scroll .scroll {
    -webkit-animation: scrolling 1s alternate infinite ease-in-out;
    animation: scrolling 1s alternate infinite ease-in-out;
  }

  @-webkit-keyframes scrolling {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }

    100% {
      -webkit-transform: translate(0px, 80px);
      transform: translate(0px, 80px);
    }
  }

  @keyframes scrolling {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
    }

    100% {
      -webkit-transform: translate(0px, 80px);
      transform: translate(0px, 80px);
    }
  }
  .moving-icon{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateY(10px); */
    width: 40px;
    justify-content: center;
  }
  .moving-icon p{
    color:#333;
    font-weight:bold;
  }