<!DOCTYPE html>
<html lang="ja">

<head>
	<title>YT-foods</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="食品">
  <link rel="shortcut icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" media="all" href="css/reset.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.css">
  <link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
  <link type="text/css" rel="stylesheet" media="all" href="css/svg.css" />
</head>

<body>
  <nav class="navi" id="navi">
    <navi></navi>
  </nav>
  <header class="header" id="header">
    <h1>
      <span>Fictious</span>
      <span>&nbsp;Foods</span>
      <span>&nbsp;&nbsp;Company</span>
    </h1>
    <div class="header-img">
      <img src="img/01.jpg" alt="">
    </div>
    <transition appear>
      <div class="copy">
        <p>フードビジネスのスタートライン。</p>
      </div>
    </transition>
    <div class="information">
      <h2>Information</h2>
      <div class="info-line">
        <ul class="info-wrapper">
          <li v-for="item in result" :key="item.title">
            <p class="info-date">{{item.date}}</p>
            <p class="info-title">{{item.title}}</p>
          </li>
        </ul>
        <div class="btn01"><a href="information.html">お知らせへ</a></div>
      </div>
    </div>
    <div class="moving-icon">
      <svg id="icon-mouse-scroll" viewBox="-105 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path fill="#fff" d="M151 0C68 0 0 68 0 151v210a151 151 0 0 0 301 0V151C301 68 234 0 151 0zm119 361a120 120 0 0 1-239 0V151a120 120 0 0 1 239 0zm0 0" />
        <path class="scroll" fill="#ea3970" stroke-width="2" d="M151 102c-9 0-16 7-16 15v71a15 15 0 0 0 31 0v-71c0-8-7-15-15-15zm0 0" />
      </svg>
      <p>scroll</p>
    </div>
  </header>

  <div class="container" id="app">
    <main class="main">
      <section class="works">
        <h2 class="title1"><span>Works</span></h2>
        <hooper class="pc-display" :items-to-show="4" mouseDrag="false">
          <slide
            v-for="(item,index) in result"
            :key="item.index"
          >
            <div class="data-wrapper">
              <div class="g-img">
                <img src="https://picsum.photos/500/200">
              </div>
              <div class="g-date">
                {{ item.date }}
              </div>
              <div class="g-title">
                {{ item.title }}
              </div>
              <div class="g-body">
                {{ item.body.substring(0,40) }}
              </div>
            </div>
          </slide>
        </hooper>
        <hooper class="sp-display" :items-to-show="1" wheelControl="false">
          <slide
            v-for="item in items"
            :key="item.title"
          >
            <div class="data-wrapper">
              <div class="g-img">
                <img src="https://picsum.photos/500/200">
              </div>
              <div class="g-date">
                {{ item.date }}
              </div>
              <div class="g-title">
                {{ item.title }}
              </div>
              <div class="g-body">
                {{ item.body.substring(0,40) }}
              </div>
            </div>
          </slide>
        </hooper>
      </section>
    </main>
  </div>

  <div class="footer">
    <div class="copyright">2020&copy;Melonbooks</div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"></script>
  <script src="js/components.js"></script>
  <script src="js/events.js"></script>
  <script src="js/header.js"></script>
  <script>
    new Vue({ el: '#navi' })
  </script>
</body>

</html>