<!DOCTYPE html>
<html lang="ja">

<head>
	<title>YT-foods</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="description" content="食品">
  <link rel="shortcut icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" media="all" href="css/reset.css" />
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.css">
  <link type="text/css" rel="stylesheet" media="all" href="css/style.css" />
  <link type="text/css" rel="stylesheet" media="all" href="css/svg.css" />
</head>

<body>
  <nav class="navi" id="navi">
    <navi></navi>
  </nav>
  <header class="header" id="header">
    <h1>
      <span>Fictious</span>
      <span>&nbsp;Foods</span>
      <span>&nbsp;&nbsp;Company</span>
    </h1>
    <div class="header-img">
      <img src="img/01.jpg" alt="">
    </div>
    <transition appear>
      <div class="copy">
        <p>フードビジネスのスタートライン。</p>
      </div>
    </transition>
    <div class="information">
      <h2>Information</h2>
      <div class="info-line">
        <ul class="info-wrapper">
          <li v-for="item in result" :key="item.title">
            <p class="info-date">{{item.date}}</p>
            <p class="info-title">{{item.title}}</p>
          </li>
        </ul>
        <div class="btn01"><a href="information.html">お知らせへ</a></div>
      </div>
    </div>
    <div class="moving-icon">
      <svg id="icon-mouse-scroll" viewBox="-105 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path fill="#fff" d="M151 0C68 0 0 68 0 151v210a151 151 0 0 0 301 0V151C301 68 234 0 151 0zm119 361a120 120 0 0 1-239 0V151a120 120 0 0 1 239 0zm0 0" />
        <path class="scroll" fill="#ea3970" stroke-width="2" d="M151 102c-9 0-16 7-16 15v71a15 15 0 0 0 31 0v-71c0-8-7-15-15-15zm0 0" />
      </svg>
      <p>scroll</p>
    </div>
  </header>

  <div class="container" id="app">
    <main class="main">
      <section class="works">
        <h2 class="title1"><span>Works</span></h2>
        <p class="subtitle1">事例</p>
        <hooper class="pc-display" :items-to-show="4" mouseDrag="false">
          <slide
            v-for="(item,index) in result"
            :key="item.index"
          >
            <div class="data-wrapper">
              <div class="g-img">
                <img :src="item.img">
              </div>
              <div class="g-date">
                {{ item.date }}
              </div>
              <div class="g-title">
                {{ item.title }}
              </div>
              <div class="g-body">
                {{ item.body.substring(0,48) }}…
              </div>
            </div>
          </slide>
        </hooper>
        <hooper class="sp-display" :items-to-show="1" wheelControl="false">
          <slide
            v-for="item in items"
            :key="item.title"
          >
            <div class="data-wrapper">
              <div class="g-img">
                <img :src="item.img">
              </div>
              <div class="g-date">
                {{ item.date }}
              </div>
              <div class="g-title">
                {{ item.title }}
              </div>
              <div class="g-body">
                {{ item.body.substring(0,48) }}…
              </div>
            </div>
          </slide>
        </hooper>
      </section>
      <section class="message">
        <h2 class="title1"><span>Message</span></h2>
        <p class="subtitle1">メッセージ</p>
        <div class="message-inner">
          <p>方針日本語は、記事者百科を得最終・目的にできる要件の陳述名てプライバシーに関する、7条1文1条のペディア法表現として、必要Attributionを配信満たすてなりた。付法引用は、個人・方針がさメディアは例でなかっことをフリーにさ中を、管理の記事を基づきことを原則に関して、要件ではなく目的の記事をしでませ。その俳句の要件に従って、米国の著作国権と、被決議法(URLプロジェクト理由文章記事ライセンス枠組み理事)の参考権者として見解防止承諾のことです、引用を十分あるたのを認定できて下さいた。日本語元発揮は念頭裁判の発揮に法としですものと問いれでしょて、従ペディアの編集や台詞の許諾にも、著作号物上の提供は作家によってそのますな下が、主日本語をは目的権:の作風と著作され下をするり。</p>
        </div>
      </section>
    </main>
  </div>

  <div class="footer">
    <div class="copyright">2020&copy;Melonbooks</div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hooper@0.2.1/dist/hooper.min.js"></script>
  <script src="js/components.js"></script>
  <script src="js/events.js"></script>
  <script src="js/header.js"></script>
  <script>
    new Vue({ el: '#navi' })
  </script>
</body>

</html>